<div class="row gap-0">
  <% @lists.each do |list| %>
    <%= link_to list_path(list), class: "col-6 p-0 list-card" do %>
      <h3 class="list-title"><%= list.name %></h3>
    <% end %>
  <% end %>
</div>
