<div class="container mt-5">
  <h1>Add a new list</h1>
  <div>
    <% simple_form_for @list do |f| %>
      <%= f.input :name %>
      <%= f.submit class: "btn btn-primary"%>
    <% end %>
  </div>
</div>
